<header>
  <div class="container">
    <nav class="navbar">
      <h1><a class="home-button" href="{{url_for('songs')}}">enc.stats</a></h1>
      <ul class="nav-list">
        <li><a href="{{ url_for('songs') }}" class="songs-button">Home</a></li>
        <li>
          <a href="{{ url_for('artists') }}" class="artists-button">Artists</a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
