{%extends 'base.html'%} {%block content%}
<body>
  {%include 'header.html'%}
  <div class="container">
    <div class="content">
      <h2 class="welcome-msg">Welcome, {{user.display_name}}</h2>
      <div class="list">
        <div class="recent-songs-container">
          <h2 class="recent-h2">Recent Top Songs</h2>
        </div>
        <ul id="song-list-container">
          {% for song in top_songs %}
          <li class="song-item">
            <span>{{ loop.index }}.</span>
            <img
              src="{{ song.album.images[0].url }}"
              alt="{{ song.name }}"
              width="50"
              height="50"
            />
            <p>
              {{ song.name }} - {{ song.artists[0].name if song.artists else
              'Unknown Artist' }}
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <script src="/static/js/song-time-frame.js"></script>
</body>
{%endblock%}
