{%extends 'base.html'%} {%block content%} {%include 'header.html'%}
<div class="container">
  <div class="content">
    <h2 class="welcome-msg">Welcome, {{user.display_name}}!</h2>
    <div class="list">
      <div class="recent-songs-container">
        <h2 class="recent-h2">Recent Top Songs</h2>
      </div>
      <ul id="song-list-container">
        {% for song in top_songs %}
        <li
          class="song-item"
          onmouseover="this.style.boxShadow='0 0 10px green';"
          onmouseout="this.style.boxShadow='none';"
        >
          <span>{{ loop.index }}.</span>
          <p>
            {{ song.name }} - {{ song.artists[0].name if song.artists else
            'Unknown Artist' }}
          </p>
          <img
            src="{{ song.album.images[0].url }}"
            alt="{{ song.name }}"
            width="100"
            height="100"
          />
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{%endblock%}
